.base {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imgBase {
  width: 45%;
  padding: 20px;
}

.img {
  border-radius: 10px;
  width: 100%;
}

.imgH1 {
  padding-left: 5px;
  margin: 0px;
}

.imgP {
  padding-left: 5px;
  margin: 5px;
  margin-bottom: 20px;
}

.tag {
  background-color: rgb(206, 206, 206);
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}
